* {
    margin: 0;
}

body {
    background-color: white;
    font-family: Helvetica, sans-serif;
}

a {
    color: black;
}

.nav {
    display: flex;
    justify-content: right;
    font-size: 11px;
    margin-top: 1rem;
}

.nav-item {
    text-decoration: none;
    margin: 1rem;
}

.logo{
    position: absolute;
    left: 2rem;
    top: 1rem
}

.product-image{
    width: 150px;
    margin: 1rem;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10vw 0 10vw;
}

.product-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.product-info-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
}

.product-info-container > h1 {
    font-size: 13px;
    
}

.product-info-container > p {
    font-weight: 100;
    
}

.product-info-container > button {
    height: 40px;
    background-color: black;
    border: none;
    color: white;
    border-radius: .5rem;
    margin: 1rem;
    cursor: pointer;
}

select {
    width: 300px;
    text-align: center;
    height: 30px;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.home-container > iframe {
    width: 100%;
    height: 450px;
}

.home-button {
    margin-top: 10rem;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: .7rem;
    cursor: pointer;
}

.legal{
    font-size: 11px;
    font-weight: 0;
}

.cart-container{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.cart-product{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: left;
    
}

.cart-empty-text-container{
    display: flex;
    margin-top: 20rem;}

.cart-empty-text  {
    font-size: 20px;

}
.cart-product  h1 {
    font-weight: normal !important;
    font-size: 1px;
}

.cart-product img {
    width: 100px;
}

.checkout-button {
    width: 200px;
    height: 30px;   
    background-color: white;
    border: 1px solid black;
    margin: 2rem;
    cursor: pointer;
}

.cart-product-price{
    font-size: 12px;
    opacity: .6;
}